.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nameItem{
    text-align: left;
    flex-grow: 2;
}

.inputs{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.selectInput{
    margin-right: 10px;
    width: 150px;
}

.numberInput{
    width: 75px;
}

.sectionSize{
    display: flex;
    flex-direction: column;
}

.subTotal{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btnSendWhatsApp{
    background-color: lightgreen;
}

.btnsAddOrRemove{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnAddOrRemove{
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 7px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border-width: 1.0px;
    border-color: teal;
}


@media only screen and (max-width: 767px) {
.container{
    margin-bottom: 20px;
    flex-direction: column; 
} 

.nameItem{
    margin-bottom: 15px;
}


}
