.carrinho > .MuiDrawer-paperAnchorRight {
  align-items: center;
  width: 95%;
}

@media (min-width: 768px) {
  .carrinho > .MuiDrawer-paperAnchorRight {
    width: 40%;
  }
}

.titleOrange{
	color: #FF6C13
}


.listItems{
	display: flex;
	align-items: left;
	justify-content:space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 0px;
  grid-template-areas:
    "produtoDescricao"
    "sub-total"
    "total";
}

.produtoDescricao { grid-area: produtoDescricao; }

.sub-total { grid-area: sub-total; }

.total { grid-area: total; }

