.modal-content{
    border-radius: 15px;
}

.modal-footer{
    justify-content: center;
}

.btn-CloseModal{
    background: none;
    align-self: flex-end;
    border: none;
    margin: 10px;
    font-size: 400;
}

.btn-Confirmar{
    font-weight: 400;
    background: none;
    text-align: center;
    padding: .375rem .75rem;
    margin: 15px;
    color: green;
    border-radius: .25rem;
    border: 2px solid green;
    align-self: center;
}

.btn-Confirmar:hover{
    background: green;
    color: white;
    border-color: aliceblue;
}

