.description{
    flex-wrap: wrap;
}

textarea{
    margin-left: 80px;
}

.nameItemII{
    align-items: center;
    justify-content: center;
}

.nameItemII h4{
    font-size: 1.50rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


.sectionSize{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: ;
}

.valueQtd{
    margin: 10px !important;
}

.btnsAddOrRemove{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.btnAddOrRemove{
    align-items: center;
    justify-content: center;
    background-color: #0C9;
    margin: 7px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    border-width: 1.0px;
    border-color:transparent;
    color: white;
}

.btnAddOrRemove:first-child{
    background-color: #FE642E;
}


@media only screen and (max-width: 500px) {

.title-Tamanhos{
    flex: 1;
}

.nameItemII{
    margin-bottom: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

.nameItemII h4{
    font-size: 1.50rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionSize{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.valueQtd{
    margin: 10px !important;
}





}
