.float{
	position:fixed;
	width:120px;
	bottom:60px;
	right:15px;
	background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(253, 121, 45, 0.822) 100%);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	user-select: none;
	z-index: 99;
}

.my-float{
	font-size: 14px;
}